mat-card{
    margin: 1em;
}
* {
    box-sizing: border-box;
}
.codepen{
    float: left;
    width: 70%;
    padding: 10px;
    height:33em;
    overflow-y:auto;
    border-right: 4px double blue;
}
.operation{
    float: left;
    width: 30%;
    padding: 10px;
    height:33em;
    overflow-y:auto;
}
.form-full-width {
    width: 100%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media only screen and (max-width: 600px) {
    .row {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction:column;
    }
    .codepen{
        width: 100%;
        height: 300px;
        }
        .operation{
        width: 100%;
           height: 300px;
        }
    }