<app-components (component)="MoreInfo($event)">
  <mat-tab-group *ngIf="Component">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">remove_red_eye</mat-icon>
        Overview
      </ng-template>
      <app-overview [Component]="Component"></app-overview>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">description</mat-icon>
        <!--API-->Documentation
      </ng-template>
      <app-api [Component]="Component"></app-api>
    </mat-tab>
  </mat-tab-group>
  <div *ngIf="!Component">
    <mat-card>
      Web Components are a set of standards that allow for the creation of custom HTML elements. With this, people can
      easily create elements which
      <br>
      <ul>
        <li> encapsulate functionality & style</li>
        <li>aid reusability</li>
        <li> provide semantic structure to their code</li>
        <li>can update automatically across pages</li>
        <li>and run wherever HTML does - with any framework, language or platform of choice</li>
      </ul>
      Developers are thus able to create unique building blocks suited to their needs and extend the vocabulary of the
      web.<br>

      Both UI and Non-UI (API only) elements can be created. These elements can not only be shared across a single web
      application but can also be distributed on the web for use by others.<br><br>

      This site enables you to explore these elements. When viewing elements, you can change their properties from the
      panel on the right, see the code for each element below it. You can also see how the element would look or behave
      on mobile devices. Developer documentation and design documentation for every element is available, though some
      are a work in progress.

      The ability to style these elements centrally using an interface is being worked upon & is coming soon.
    </mat-card>
  </div>
</app-components>