// .test-frame-window{
//     height: 75vh;
//     width: 100%;
//     margin: 2rem;
// }

// .test-frame {
//     height: 30rem;
//     width: 60rem;
// }

.test-frame {
    // height: 49rem;
    width: 100%;
}

.test {
    width: 100%;
    // height: 51rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
buton{
    padding: 1em;
    font-size: xx-large;
    width: 8em;
}
