<!-- 
<button (click)="ShowingTestResults()">Run Test</button>
<div class="test-frame-window"> 
<iframe *ngIf="showTestResult" src="http://localhost:9876" class="test-frame"></iframe>
</div> -->

<div *ngIf="showTestResult;else execute">
    <iframe *ngIf="showTestResult" src="http://localhost:9876" class="test-frame" [style.height]="screenHeight + 'px'"></iframe>
</div>

<ng-template #execute>
    <div class="test" [style.height]="screenHeight + 'px'">
        <button mat-raised-button color="warn" (click)="ShowingTestResults()">
            <mat-icon>offline_bolt</mat-icon> Run Test
        </button>
    </div>
</ng-template>