.example-card {
    margin: 0 auto;
    max-width: 500px;
  }

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
.expansion{
    margin: 0 auto !important;
    max-width: 532px;
}
.mat-raised-button{
    margin-top: 2em;
    width: 150px;
  }
  mat-card-content{
      height: 8em;
     text-align: center;
  }