<div class="expansion">
    <!-- <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
           Buttons
          </mat-panel-title>
          <mat-panel-description>
            Detail About Buttons
            <mat-icon>code</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card-content>
            <mat-tab-group>
                <mat-tab>
                  <ng-template mat-tab-label>
                    HTML
                  </ng-template>
                      &lt;button mat-raised-button color="warn"&gt;Input 
                      &lt;/button&gt;      
                </mat-tab>
              
                <mat-tab>
                  <ng-template mat-tab-label>
                    TS
                  </ng-template>
                  <button mat-raised-button color="warn">Input</button>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                      CSS
                    </ng-template>
                    <button mat-raised-button color="warn">Input</button>
                  </mat-tab>
              </mat-tab-group>
        </mat-card-content>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <mat-card class="example-card">

    <mat-card-content>
        <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                Primary
              </ng-template>
              <button mat-raised-button color="warn">Input</button>
            </mat-tab>
          
            <mat-tab>
              <ng-template mat-tab-label>
                Secondary
              </ng-template>
              <button mat-raised-button color="warn">Input</button>
            </mat-tab>
          </mat-tab-group>
    </mat-card-content>
  </mat-card>
  
