<!-- <div class="expansion">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
           Buttons
          </mat-panel-title>
          <mat-panel-description>
            Detail About Buttons
            <mat-icon>code</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card-content>
            <mat-tab-group>
                <mat-tab>
                  <ng-template mat-tab-label>
                    HTML
                  </ng-template>
                      &lt;button mat-raised-button color="warn"&gt;Input 
                      &lt;/button&gt;      
                </mat-tab>
              
                <mat-tab>
                  <ng-template mat-tab-label>
                    TS
                  </ng-template>
                  import Component from '@angular/core';
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                      CSS
                    </ng-template>
                    .mat-raised-button
                      margin-top: 2em;
                      width: 150px;
                    
                  </mat-tab>
              </mat-tab-group>
        </mat-card-content>
      </mat-expansion-panel>
    </mat-accordion>
  </div> -->

  <mat-card class="example-card">

    <mat-card-content>
        <button mat-raised-button color="warn">Input</button>
        <!-- <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                Desktop View
              </ng-template>
              <button mat-raised-button color="warn">Input</button>
            </mat-tab>
          
            <mat-tab>
              <ng-template mat-tab-label>
                Mobile View
              </ng-template>
              <button mat-raised-button color="warn">Input</button>
            </mat-tab>
          </mat-tab-group> -->
    </mat-card-content>
  </mat-card>
  
