mat-card{
    margin: 1em;
}
* {
    box-sizing: border-box;
}
.codepen{
    float: left;
    width: 70%;
    padding: 10px;
    height:79vh;
    border-right: 4px double blue;
    overflow-y:auto;
}
.operation{
    float: left;
    width: 30%;
    padding: 10px;
    overflow-y:auto;
}
.form-full-width {
    width: 100%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.github{
    display: inline-block;
    margin: 0 10px;
    color: white;
    text-decoration: none;
}
@media only screen and (max-width: 600px),(max-width: 768px),(max-width:1024px){
    .row {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction:column;
    }
    .codepen{
        width: 100%;
        height: 100%;
        border-right:none;
        }
        .operation{
        width: 100%;
        height: 100%;
        }
    }
/* @media only screen and  (min-width:1281px){
    .codepen{
        height:48em;
    }
    } */