mat-card{
    margin: 1em;
}
* {
    box-sizing: border-box;
}
.codepen{
    float: left;
    width: 70%;
    padding: 10px;
    height:79vh;
    border-right: 4px double blue;
    overflow-y:auto;
}
.operation{
    float: left;
    width: 30%;
    padding: 10px;
    overflow-y:auto;
}
.github{
    display: inline-block;
    margin: 0 10px;
    color: white;
    text-decoration: none;
}
.example-card {
    margin-top: 5em !important;
     margin: 0 auto;
     max-width: 500px;
   } 
   mat-card-content{
      text-align: center;
   }
   mat-chip {
     max-width: 200px;
   }
   
@media only screen and (max-width: 600px),(max-width: 768px),(max-width:1024px){
    .row {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction:column;
    }
    .codepen{
        width: 100%;
        height: 100%;
        border-right:none;
        }
        .operation{
        width: 100%;
        height: 100%;
        }
    }
/* @media only screen and  (min-width:1281px){
    .codepen{
        height:48em;
    }
    } */