@import '../../../../styles/client1.scss';
@import '../../../../styles/function.scss';

.DynamicStyling{
    background-color: var(--navBackground);
    color: var(--navColor);
    text-align: $default-font;
    font-size: $default-font;
    margin-top: $default-font;
    height: $default-font;
    font-family: $default-font;
    padding: $default-font;
    margin: $default-font;
    margin-bottom: $default-font;
    width: var(--ButtonWidth); 
    p {
      margin: 0;
    }
}




* {
    box-sizing: border-box;
}
mat-card{
    margin: 1em;
  }
.cpen{
    margin-top: 5em !important;
    padding: 1em;
    margin: 0 auto;
    max-width: 500px;
    background-color: whitesmoke;
} 
.codepen{
    float: left;
    width: 70%;
    height: 88vh;
    padding: 10px;
    border-right: 4px double blue;
    overflow-y:auto;
}
.operation{
    float: left;
    width: 30%;
    padding: 10px;
}
.github{
    display: inline-block;
    margin: 0 10px;
    color: white;
    text-decoration: none;
}
/* .example-card {
    margin-top: 5em !important;
     margin: 0 auto;
     max-width: 500px;
     background-color: whitesmoke;
   }  */
.objectform{
    margin-top: 3em;
}
.ObjectList{
    margin-bottom: 4em;
}

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  .doneButton{
      margin: 0 auto !important;
  }

   mat-card-content{
      text-align: center;
   }
   mat-chip {
     max-width: 200px;
   }
@media only screen and (max-width: 600px),(max-width: 768px),(max-width:1024px){
    .row {
        width: 100%;
        height: 60em;
        display: flex;
        flex-direction:column;
    }
    .codepen{
        width: 100%;
        border-right:none;
        }
        .operation{
        width: 100%;
        }

    }
    @media only screen and (max-height: 864px){
        .codepen{
            height: 84.4vh;
        } 
    }
