/* You can add global styles to this file, and also import other style files */


html,body{
    height: 100%;
}

body{
    margin: 0;
}


/*-----Custom Scrollbar CSS-----*/
/* width 
::-webkit-scrollbar {
    width: 10px;
}*/

/* Track 
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}*/
 
/* Handle
::-webkit-scrollbar-thumb {
    background: #888; 
}*/

/* Handle on hover 
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}*/

/* For ORXe2.0 Hotel Item Component #Delete this Once Library is Updated*/
.grid {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin: auto;
}
.hotel-results-detail-section.grid {
    padding: 20px;
}
.grid .grid__col-xs-3 {
    width: 25%;
    flex: 1;
} 

.grid .grid__col-xs-9 {
    flex: 2;
    text-align: left;
}
.result-list-image {
    overflow: hidden;
    width: 100%;
    max-height: 200px;
}
/* End For ORXe2.0 Hotel Item Component #Delete this Once Library is Updated*/
.mat-bottom-sheet-container{
    height: 80vh;
    min-width: 100vw;
}

.unit-label {
    font-weight: bold;
}