.sidenav-container {
  height: 91vh;
}

.sidenav {
  margin-top: 4em;
  width: 180px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
button{
width: 150px;
}